.input {
  width: 100%;
  margin-bottom: 16px;

  &__label {
    display: block;
    color: var(--grey-dark);
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
  }

  &__field {
    display: block;
    position: relative;
    border: none;
    width: 100%;
    border-bottom: 1px solid var(--blue);
    padding: 6px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    
    &:focus-visible {
      outline: none;
    }
  }


  &__error {
    color: var(--red);
    font-size: 8px;
    line-height: 1;
    font-weight: 400;
    margin-top: 7px;
  }
}