.button {
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  width: 280px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .3s linear;

  &:hover {
    background-color: var(--blue-dark);
  }
}
