.chat-list {
  padding: 0 10px;
  overflow: hidden auto;
  height: calc(100% - 105px);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-dark);
  }
}
