<form class='form-auth'>
  <h2 class='form-auth__title'>{{form-name}}</h2>
  {{> @partial-block}}
  {{> button/button text=button-text}}
  <a class='form-auth__link' href={{link}}>{{link-text}}</a>
</form>