:root {
  --black: #1E1E1E;
  --white:white;
  --blue:#3369F3;
  --blue-light: #87a5f0;
  --blue-light-2: #E4EDFD;
  --blue-dark: #002a92;
  --grey: #EAEAEA;
  --grey-light: #FBFBFB;
  --grey-light-2: #F8F8F8;
  --grey-dark: #999;
  --red: #FF2F2F;
  --red-dark: #bc1010;
}