.container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.left {
  border-right: 1px solid var(--grey);
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s linear;
  background: url('/src/assets/arrow.svg') no-repeat center var(--grey-light);
  cursor: pointer;

  &:hover {
    background-color: var(--blue-light);
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
