$selectorAvatar: '.avatar';

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: var(--black);

    .avatar {
      &__image {
        opacity: 0.5;
      }

      &__change {
        opacity: 1;
      }
    }
  }

  &__image {
    transition: opacity 0.3s linear;
  }

  &__change {
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.1;
    transition: opacity 0.3s linear;
  }
}
