.input-large {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0;
  position: relative;

  &__label {
    display: block;
    color: var(--black);
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
  }

  &__field {
    display: block;
    position: relative;
    border: none;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    color: var(--grey-dark);
    
    &:focus-visible {
      outline: none;
    }
  }


  &__error {
    position: absolute;
    color: var(--red);
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    right: 0;
    top: 40px;
    margin: 0;
  }
}
