.message {
  display: flex;
  flex-direction: column;

  &-outgoing {
    align-items: flex-end;

    .message__text {
      background-color: var(--blue-light-2);
    }
  }

  &__text {
    width: 402px;
    background-color: var(--grey-light-2);
    padding: 20px 15px;
    border-radius: 16px;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
  }

  &__time {
    color: var(--grey-dark);
    font-size: 9px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__file {
    position: relative;
    width: min-content;
    max-width: 50%;
  }

  &__img {
    object-fit: contain;
    border-radius: 16px;
  }
}